/* 重置默認邊距和填充 */
html,
body,
header,
main,
nav,
footer {
    margin: 0;
    padding: 0;
    /* 這將使邊框和填充包含在元素的寬度和高度內 */
    box-sizing: border-box;
}

.header1 {
    position: fixed;
    top: 0px;
    height: 160px;
    width: 100%;
    z-index: 990;
}

/* 頁首區 */
.topbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: 160px;
}

/* 選單排版 */
/* Logo */
.headerLogo {
    position: relative;
    width: 20%;
    /* 左距 */
    margin-left: 60px;
    /* margin-right: 56px; */
    z-index: 990;
}

.headerLogo img {
    position: relative;
    width: 100%;
    height: auto;

    /* 圖片填滿背景 */
    object-fit: cover;
    /* 縮放圖片依然置中 */
    background-position: center;
    z-index: 990;
}

.contactBtn {
    position: absolute;

    color: #000537;

    z-index: 990;
    font-size: 1.25rem;
    /* 間距 */
    margin-left: 1.5rem;
    top: 63px;
    right: 180px;
}

.btn-contact {
    list-style: none;
    padding: 0;
}

.contactBtn a {
    /* 字體設定 */
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 22px;
    letter-spacing: 0.065em;
    list-style: none;

    /* dark blue */
    color: #000537;

    /* 按鈕底線 */
    border-bottom: 1.5px solid black;

    /* 底線間距 */
    padding-bottom: 4px;
}

/* MENU STYLES */
.menu-wrap {
    position: absolute;
    top: 1.465rem;
    right: 3.5rem;
    z-index: 10;
}

.menu-wrap .toggler {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
    width: 75px;
    height: 75px;
    opacity: 0;
}

.menu-wrap .hamburger {
    border-radius: 100%;
    border: 2px solid white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*hamburger方框比例*/
    position: absolute;
    top: 1rem;
    right: 16px;
    z-index: 1;
    width: 75px;
    height: 75px;
    padding: 1rem;
    background: #000537;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}


/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/*小筆電: hamburger點選按鈕樣式*/

@media (min-width: 1025px) and (max-width: 1440px) {
    .menu-wrap .toggler {

        width: 56.25px;
        height: 56.25px;

        top: 6.5px;
        right: -10px;
    }

    .menu-wrap .hamburger {

        margin: 0;
        padding: 0;
        /*hamburger方框比例*/
        position: absolute;
        width: 56.25px;
        height: 56.25px;
        top: 6.5px;
        right: -10px;
    }

    /* Hamburger Line */
    .menu-wrap .hamburger>div {
        position: relative;
        width: 60%;
        /*三條線在圓圈中的比例*/
        height: 2px;
    }


}

/*平板: hamburger點選按鈕樣式*/

@media (min-width: 577px) and (max-width:1024.98px) {
    .menu-wrap .toggler {

        width: 44px;
        height: 44px;

        top: 6.5px;
        right: -10px;

        border: 1px solid white;
    }

    .menu-wrap .hamburger {

        margin: 0;
        padding: 0;
        /*hamburger方框比例*/
        position: absolute;
        width: 44px;
        height: 44px;
        top: 6.5px;
        right: -10px;
    }

    /* Hamburger Line */
    .menu-wrap .hamburger>div {
        position: relative;
        width: 40%;
        /*三條線在圓圈中的比例*/
        height: 2px;
    }

    /*改變第一條線離上面的距離*/

    .menu-wrap .hamburger>div::before {
        top: -8px;
    }

    /*第三條線*/

    .menu-wrap .hamburger>div::after {
        top: 8px;
    }
}

/*手機: hamburger點選按鈕樣式*/

@media (max-width:576.98px) {


    .menu-wrap .hamburger {

        margin: 0;
        padding: 0;
        /*hamburger方框比例*/
        position: absolute;
        width: 48px;
        height: 48px;
        top: 6.5px;
        right: -10px;
    }

    /* Hamburger Line */
    .menu-wrap .hamburger>div {
        position: relative;
        width: 40%;
        /*三條線在圓圈中的比例*/
        height: 2px;
    }

    /*改變第一條線離上面的距離*/

    .menu-wrap .hamburger>div::before {
        top: -8px;
    }

    /*第三條線*/

    .menu-wrap .hamburger>div::after {
        top: 8px;
    }

    /*CLOSE字樣隱藏*/
    .menu-wrap .menu>div>div .close {
        display: none;
}
}


/* Show Menu 整個選單 */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.9s;

}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.1s ease 0.1s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Close字樣*/
.menu-wrap .menu>div>div .close {
    position: fixed;
    top: 140px;
    right: 62px;
    color: #fff;
    font-family: Arial;
    font-size: 1.2rem;
    letter-spacing: 0.225em;
    text-transform: uppercase;
}


/*Logo字樣*/
/* .menu-wrap .menu>div>div .menu_logo {
    position: fixed;
    top: 55px;
    left: 60px;
    /* transform: translateX(-50%); */
    /* background-color: aqua; */
/*} */

/* .menu_logo h1 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-size: 2.25rem;
    letter-spacing: 0.13em;
    color: #000537;

} */

/*小筆電: 下拉menu選單上半部樣式*/

@media (min-width: 1025px) and (max-width: 1440px) {

    /*Close字樣*/
    .menu-wrap .menu>div>div .close {
        position: fixed;
        top: 100px;
        right: 40px;
        font-size: 0.9rem;
        letter-spacing: 0.2em;
    }

    /*Logo字樣*/
    /* .menu-wrap .menu>div>div .menu_logo { 
        position: fixed;
        top: 50px;
        left: 50px;
        
    } */

    /* .menu-wrap .menu>div>div .menu_logo h1 {
        font-size: 1.8rem;
        letter-spacing: 0.13em;

    } */

}

/*平板: 下拉menu選單上半部樣式*/

@media (min-width: 577px) and (max-width:1024.98px) {

    /*Close字樣*/
    .menu-wrap .menu>div>div .close {
        display: none;
        /*隱藏*/
    }



    /*Logo字樣*/
    /* .menu_logo h1 {

        font-size: 1.25rem;
        line-height: 1.68rem;
        letter-spacing: 0.13em;
    } */
}


/*社群平台按鈕們*/

.iconboxer {
    position: fixed;
    width: 4.3%;
    height: auto;
    right: 60px;
    bottom: 10vh;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.icon a {
    display: block;
    margin-bottom: 40%;
}

.menu-wrap .menu>div {

    transform-origin: top;
    transform: translate(0%, -100%);
    transition: 0.9s ease;
    width: 100%;
    /*螢幕的可視範圍，會依網頁縮放改變*/
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;

}


/* 整個按鈕區 */

.menu>div {
    /*transform: translateZ(0); 硬件加速，解決背景閃爍*/
    z-index: 10;
    background-image: url(../images/Hamburger_bg.jpg);
    /* 圖片填滿背景 */
    background-size: cover;
    /* 縮放圖片依然置中 */
    background-position: center;

    transition: background-image 0.5s ease-in-out;
}

.menu-wrap .menu>div>div {
    display: flex;
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.menu-wrap .menu>div>div>ul {
    display: flex;
    flex-wrap: wrap;
    /*螢幕縮放時自動換行*/
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 120px;
    /*讓整個框框置中感*/
    /* background-color: #000537; */
}

/*整個框框按鈕的區域*/
.menu-wrap .menu>div>div>ul>li {
    display: flex;
    flex: 1;

    box-sizing: border-box;
    width: 272px;
    height: 712px;
    margin: 50px;
    border: 2.5px solid #FFFFFF;

    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    justify-content: center;

    transition: background-image 0.7s ease;
}



.hambtn {
    width: 100%;
    height: 100%;
    padding-top: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.hambtn h2 {
    color: #fff;
    font-family: var(--second-font);
    letter-spacing: 0.13em;
    font-size: max(2.08vw,2.2rem);
    line-height: 150.1%;

}

/*平板about us 隱藏*/
.ipad_usbtn {
    display: none;
}

/*小筆電: 按鈕們的大小變化*/
@media (min-width: 1025px) and (max-width: 1440px) {

    /*右邊3個icon按鈕*/
    .iconboxer {

        right: 40px;
        bottom: 13vh;
    }

    .icon svg {
        min-width: 60px;
        height: auto;
    }

    /*四個框框按鈕的大小改變*/
    .menu-wrap .menu>div>div>ul>li {
        margin: 17.5px;
        height: 650px;
        font-size: 2.2rem;
    }
}

@media (min-width: 1025px) and (max-width: 1600px) {
    .menu-wrap .menu>div>div>ul>li {
        margin: 17.5px;
        height: 650px;
        font-size: 2.2rem;
    }
}

/*平板: 四個按鈕的大小變化*/
@media (min-width: 577px) and (max-width:1024.98px) {
    .hambtn {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

    }


}

/*平板: 按鈕們的大小變化*/


/* hover到框框時，框內所有元素的改變 */


.menu-wrap .menu>div>div>ul>li>a.hambtn>* {
    transition: 1.5s;
}

li:hover a.hambtn>* {
    animation: hamhover .5s forwards;
    transition: 1.5s;
}

@keyframes hamhover {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(45px)
    }
}

/* @keyframes hamback{
    0% { transform: translateY(5%)}
    100%{transform: translateY(0%)}
} */


.line {
    padding-top: 28px;
}

.arrow {
    display: none;
}

li:hover .arrow {
    display: block;
    padding-top: 28px;
    animation: arrhover .5s ease-in-out;

}

@keyframes arrhover {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


li:hover .line {
    display: none;
}


/*隱藏在平板中顯示的line和arrow*/

.ipadline,
.ipadarrow {
    display: none;
}



/*玻璃擬態*/
.menu-wrap .menu>div>div>ul>li:hover {
    background-image: linear-gradient(to bottom, #47BFD9 8.15%, rgba(255, 252, 235, 0.02) 86.87%);
    backdrop-filter: blur(8px);
}



/*平板: 主要區域的所有變化*/

@media (min-width: 577px) and (max-width:1024.98px) {

    /*整個主選單*/
    .menu {
        width: 100%;
        max-height: 83%;
        border-radius: 0px 0px 25px 25px;
        filter: drop-shadow(0px 9px 17px rgba(0, 0, 0, 0.25));
    }

    .menu-wrap .menu>div {
        width: 100%;
        max-height: 100%;

    }


    /*改變背景圖片*/
    .menu>div {
        width: 100%;
        background-image: url(../images/ipad-ham-BG.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transition: background-image 0.5s;
        /*延長0.5s*/
        /* animation: moveUp 2s 1s both ease-in-out; */

    }

    @keyframes moveUp {
        0% {
            background-position: 0 -20px;
        }

        100% {
            background-position: 0 -120px;
        }
    }


    /*  四個框框垂直排列*/
    .menu-wrap .menu>div>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-wrap .menu>div>div>ul {

        width: 77%;
        height: 69%;
        /* background-color: bisque; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        transform: translateY(-5%);
        /*整個框框往上移一點*/
    }


    .menu-wrap .menu>div>div>ul>li {

        display: block;

        width: 100%;
        height: 110px;

        padding: 0;
        margin: 2% 0 2% 0;

        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        border: 1.2px solid #FFFFFF;

        overflow: hidden;

    }

    br.blank{
        display: none;
    }

    .textboxx {
        width: 73%;
        display: flex;
        position: relative;
        /* background-color: #47BFD9; */

    }

    .textboxx .fadeText {
        font-size: 1.75rem;
        position: relative;
        /* display: block; */
        padding-left: 19%;
        animation: fadeUpIn 1.5s both ease-in-out;
    }

    @keyframes fadeUpIn {
        from {
            opacity: 0.5;
            top: 50px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }


    .usbtn {
        display: none;
    }

    .ipad_usbtn {
        display: block;
    }

    .line {
        display: none;
    }

    /*隱藏hover出現的箭頭*/
    li:hover .arrow {
        display: none;
    }

    .ipadline {
        display: block;
    }

    /*hover後的玻璃擬態*/

    .menu-wrap .menu>div>div>ul>li:hover {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 8.15%, #47BFD9 86.87%);
        transition: background-image 0.5s;
        /*延長0.5s*/
    }

    .menu-wrap .menu>div>div>ul>li:checked {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 8.15%, #47BFD9 86.87%);
        transition: background-image 0.5s;
        /*延長0.5s*/
    }

    /*hover後的文字位置改變*/

    li:hover a.hambtn {
        animation: hamhover .5s forwards;
        transition: 1.5s;
    }

    li:checked a.hambtn {
        animation: hamhover .5s forwards;
        transition: 1.5s;
    }

    @keyframes hamhover {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(5%)
        }
    }

    /*點擊後:原本的線不見*/

    li:hover .ipadline {
        display: none;
    }

    /*點擊後:箭頭出現*/

    li:hover .ipadarrow {
        display: block;
        padding-right: 5%;
        animation: arrhover .5s ease-in-out;

    }

    li:checked .ipadarrow {
        display: block;
        padding-right: 5%;
        animation: arrhover .5s ease-in-out;

    }

    @keyframes arrhover {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



    .icon {
        /* background-color: #47BFD9; */

        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 36%;
        height: 66px;
        right: 11.4%;

    }

    .icon svg {
        width: 100%;
        height: 100%;

    }

    /*更改svg邊線粗度*/
    .icon svg circle {
        stroke-width: 1.76px;
    }

    @keyframes iconUp {
        0% {
            bottom: 6%;
        }

        100% {
            bottom: 8%;
        }
    }
}

/*手機: 主要區域的所有變化*/

@media (max-width:576.98px) {

    /*整個主選單*/
    .menu {
        width: 100%;
        max-height: 77%;
        border-radius: 0px 0px 20px 20px;
        filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.4));
    }

    .menu-wrap .menu>div {
        width: 100%;
        max-height: 100%;

    }


    /*改變背景圖片*/
    .menu>div {
        width: 100%;
        min-height: 100%;
        background-image: url(../images/ipad-ham-BG.png);
        background-repeat: no-repeat;
        background-size: 135%;
        
        
        transition: background-image 0.65s;
        /*延長0.5s*/
        /* animation: moveUp 2s 1s both ease-in-out; */

    }

    @keyframes moveUp {
        0% {
            background-position: 0 20px ;
        }

        100% {
            background-position: 0 bottom;
        }
    }


    /*  四個框框垂直排列*/
    .menu-wrap .menu>div>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-wrap .menu>div>div>ul {

        width: 89%;
        height: 58%;
        /* background-color: bisque; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        transform: translateY(-5%);
        /*整個框框往上移一點*/
    }


    .menu-wrap .menu>div>div>ul>li {

        display: block;

        width: 100%;
        height: 25%;

        padding: 0;
        margin: 3% 0 3% 0;

        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        border: 1px solid #FFFFFF;

        overflow: hidden;

    }

    /*第一個按鈕上面不要margin*/

    .menu-wrap .menu>div>div>ul>li:first-child{
        margin: 0 0 3% 0;
    }

    /*最後一個按鈕上面不要margin*/

    .menu-wrap .menu>div>div>ul>li:last-child{
        margin: 3% 0 0 0;
    }

    /*四個按鈕*/

    .hambtn {

        padding-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .hambtn h2 {
        color: #fff;
        font-family: var(--second-font);
        letter-spacing: 13%;
        font-size: 1rem;
        line-height: 1.5rem;
    
    }

    br.blank{
        display: none;
    }

    .textboxx {
        width: 72.6%;
        display: flex;
        position: relative;
        /* background-color: #47BFD9; */

    }

    .textboxx .fadeText {
        font-size: 1rem;
        position: relative;
        /* display: block; */
        padding-left: 29%;
        animation: fadeUpIn 1.5s both ease-in-out;
    }

    @keyframes fadeUpIn {
        from {
            opacity: 0.5;
            top: 50px;
        }

        to {
            opacity: 1;
            top: 0;
        }
    }


    .usbtn {
        display: none;
    }

    .ipad_usbtn {
        display: block;
    }

    .line {
        display: none;
    }

    /*隱藏hover出現的箭頭*/
    li:hover .arrow {
        display: none;
    }

    .ipadline {
        display: block;
        width: 55.5px;
        height: 2px;
        
    }


    /*hover後的玻璃擬態*/

    .menu-wrap .menu>div>div>ul>li:hover {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 25.15%, #47BFD9 90.87%);
        transition: background-image 0.5s;
        /*延長0.5s*/
    }

    .menu-wrap .menu>div>div>ul>li:checked {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 25.15%, #47BFD9 90.87%);
        transition: background-image 0.5s;
        /*延長0.5s*/
    }

    /*hover後的文字位置改變*/

    li:hover a.hambtn>* {
        animation: hamhover .5s forwards;
        transition: 1.5s;
    }

    li:checked a.hambtn>* {
        animation: hamhover .5s forwards;
        transition: 1.5s;
    }

    @keyframes hamhover {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(16px)
        }
    }

    /*點擊後:原本的線不見*/

    li:hover .ipadline {
        display: none;
    }

    /*點擊後:箭頭出現*/

    li:hover .ipadarrow {
        display: block;
        width: 55.5px;
        margin-right: 5%;
        animation: arrhover .5s ease-in-out;

    }

    li:checked .ipadarrow {
        display: block;
        padding-right: 5%;
        animation: arrhover .5s ease-in-out;

    }

    @keyframes arrhover {
        0% {
            opacity: 0;
            transform: translateX(0%)
        }

        100% {
            opacity: 1;
            transform: translateX(15%)
        }
    }



    .icon {
        /* background-color: #47BFD9; */

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 47%;
        height: auto;
        right: 5.5%;
        gap: 20px;

    }

    .icon a {
        display: block;
        margin-bottom: 0;
    }

    .icon svg {
        width: 100%;
        height: 100%;

    }

    /*更改svg邊線粗度*/
    .icon svg circle {
        stroke-width: 1.28px;
    }

    @keyframes iconUp {
        0% {
            bottom: 8%;
        }

        100% {
            bottom: 10%;
        }
    }
}



/* > 頁尾區 */
#footerBar {
    display: flex;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 390px;
    /* 內距 */
    padding-left: 8%;
    padding-right: 8%;

    background-color: #000537;
}

/* 頁尾Logo區 */
.footerLogo {
    /* Logo寬度 */
    width: 25%;
}

.footerLogo img {
    width: 100%;
    height: auto;
}

/* 頁尾按鈕區 */
#footerBar nav {
    width: 64%;
}

.footerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    padding-left: 0;
    margin-bottom: 0;
}

.footerMenu ul {
    margin-bottom: 0;
}

.footerMenu li {
    width: 15%;
    /* 每一個按鈕的間距 */
    margin-left: 6.3%;
    margin-right: 6.3%;
}

.footerMenu a {
    display: block;
    position: relative;
    font-family: Arial;
    font-size: 1.1875rem;
    font-weight: 150;

    /* 不換行 */
    white-space: nowrap;
    /* 拿掉底線 */
    text-decoration: none;
    /* 修改瀏覽器預設的字色 */
    color: rgb(255, 255, 255);

    /* 上下邊界距離 */
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    text-align: center;
}




/* > 測試容器 */
.test-container {
    height: 50vh;
}




/* ! 小筆電 1025-1440 (頁首+頁尾) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .header1 {
        height: 120px;
    }

    /* 頁首區 */
    .topbar {
        height: 120px;
    }

    /* 選單排版 */
    /* Logo */
    .headerLogo {
        width: 27.4%;
        /* 左距 */
        margin-left: 45px;
    }

    .headerLogo img {
        width: 285px;
    }

    .contactBtn {
        position: absolute;

        color: #000537;
        /* 上方邊界 */

        font-size: 0.9rem;
        /* 間距 */
        margin-left: 1.5rem;

        top: 45px;
        right: 135.75px;
        z-index: 990;
    }

    .btn-contact {
        list-style: none;
        padding: 0;

    }

    .contactBtn a {
        /* 字體設定 */
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.375rem;
        letter-spacing: 0.065em;
        list-style: none;

        /* dark blue */
        color: #000537;

        /* 按鈕底線 */
        border-bottom: 1.5px solid black;

        /* 底線間距 */
        padding-bottom: 4px;
    }
}

/* ! 平板 577-1024 (頁首) */
@media (min-width: 577px) and (max-width: 1024.98px) {
    .header1 {
        display: flex;
        position: fixed;
        top: 0px;
        height: 100px;
        width: 100%;
        z-index: 100;
    }

    /* 頁首區 */
    .topbar {
        align-items: center;
        width: 100%;
        height: 100px;
    }

    /* 選單排版 */
    /* Logo */
    .headerLogo {
        width: 27.4%;
        /* 左距 */
        margin-left: 44px;

    }

    .headerLogo img {
        width: 211px;
        height: auto;

        /* 圖片填滿背景 */
        object-fit: cover;
        /* 縮放圖片依然置中 */
        background-position: center;
    }

    .contactBtn {
        position: absolute;

        color: #000537;
        /* 上方邊界 */

        font-size: 1.25rem;
        /* 間距 */
        margin-left: 1.5rem;

        top: 34px;
        right: 116px;
        z-index: 990;
    }

    .btn-contact {
        list-style: none;
        padding: 0;

    }

    .contactBtn a {
        /* 字體設定 */
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.375rem;
        letter-spacing: 0.065em;
        list-style: none;

        /* dark blue */
        color: #000537;

        /* 按鈕底線 */
        border-bottom: 1.5px solid black;

        /* 底線間距 */
        padding-bottom: 4px;
    }

    .menu-wrap .toggler {
        position: absolute;
        margin: 0;
        padding: 0;

        z-index: 2;
        cursor: pointer;
        opacity: 0;

        width: 44px;
        height: 44px;

        top: 5px;
        right: -10px;

    }

    .menu-wrap .hamburger {
        border-radius: 100%;
        border: 2px solid white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: absolute;

        z-index: 1;

        width: 44px;
        height: 44px;
        top: 5px;
        right: -10px;
    }
}

/* ! 手機 0-577 (頁首) */
@media (max-width: 576.98px) {

    /* > 頁首區 */
    .header1 {
        display: flex;
        position: fixed;
        top: 0px;
        height: 100px;
        width: 100%;
        z-index: 100;
    }

    /* 頁首區 */
    .topbar {
        align-items: center;
        width: 100%;
        height: 100px;
    }


    /* Logo */
    .headerLogo {
        width: 27.4%;
        /* 左距 */
        margin-left: 30px;
    }

    .headerLogo img {
        width: 159px;
        height: auto;
    }

    .contactBtn {
        /* - 隱藏Contact */
        display: none;
    }

    .menu-wrap .toggler {
        position: absolute;
        margin: 0;
        padding: 0;

        z-index: 2;
        cursor: pointer;
        opacity: 0;

        width: 48px;
        height: 48px;

        top: 5px;
        right: -26px;

    }

    .menu-wrap .hamburger {
        border-radius: 100%;
        border: 2px solid white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;

        width: 48px;
        height: 48px;
        top: 5px;
        right: -26px;
    }
}

/* ! 平板 700-1024 (頁尾) */
@media (min-width: 700px) and (max-width: 1024.98px) {

    /* > 頁尾區 */
    #footerBar {
        width: 100%;
        height: 200px;
        /* - 內距 */
        padding-left: 6.8%;
        padding-right: 6.8%;
    }

    .footerLogo {
        /* - Logo寬度 */
        width: 30%;
    }

    .footerLogo img {
        width: 211px;
        height: auto;
    }


    /* > 頁尾按鈕區 */
    #footerBar nav {
        width: 60%;
    }

    .footerMenu {
        display: flex;
/*         justify-content: space-between; */
        width: 100%;
        list-style: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

    }

    .footerMenu li {
        width: 30%;
        /* - 每一個按鈕的間距 */
        margin-left: 3%;
        margin-right: 3%;
    }

    .footerMenu a {
        font-size: 0.75rem;
        font-weight: 150;

        /* - 上下邊界距離 */
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        text-align: center;
    }
}

/* ! 手機 0-700 (頁尾) */
@media(max-width: 699.98px) {

    /* > 頁尾區 */
    #footerBar {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: auto;
        /* 內距 */
        padding-left: 0%;
        padding-right: 0%;

        background-color: #000537;

        padding-top: 63px;
    }

    /* > 頁尾Logo區 */
    .footerLogo {
        /* Logo寬度 */
        width: 68%;
        margin-top: 33px;
        margin-bottom: 56px;
    }

    .footerLogo img {
        width: 100%;
        height: auto;
    }

    /* > 頁尾按鈕區 */
    #footerBar nav {
        width: 68%;
    }

    .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        list-style: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;

        margin: 0;

        padding-left: 0;
        padding-right: 0;
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .footerMenu ul {
        margin-bottom: 0;
    }

    .footerMenu li {
        display: flex;
        align-items: center;

        width: 15%;
        height: 48px;
        margin: 0;
        margin-left: 20px;
    }

    .footerMenu a {
        display: block;
        position: relative;
        font-family: Arial;
        font-size: 0.875rem;
        font-weight: 400;

        /* 上下邊界距離 */
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
}