body {
    margin: 0px;
    /* overflow-x: hidden; */
}
#aboutTaiwan01{
    height: 100vh;
    width: 100%;
    background-image: url(../images/aboutTaiwan_BG.png);
	background-size: cover;
	background-position: center; /*置中*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .titleTaiwan{

    width: 70%;
}
.titleContainer{
    display: flex;
    justify-content: center;
    transform: translateY(-8%);
} */
 #aboutTaiwan01 p{ 
    /* background-color: aquamarine;    */
    display: block;
    width: 1214px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--main-yellow);
    transform: translate(-1%,-100%);
    /* transform: translateY(-150%);    */
    text-shadow: 0px 4px 35px rgba(0, 0, 0, 0.3), 2px 2px 18px rgba(0, 5, 55, 0.4); 
}


#titleBanner{
    transform: translate(-1%,15%);
}


/* 下半部資訊區 */

#aboutTaiwan02{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(white 82.5%,var(--main-yellow)82.5%);
}

#allContainer span{
    font-weight: 950;
    font-style: normal;
}
#allContainer{ /*右半部整個大區域*/
    margin-top: 140px;
}

#allContainer h2{
    display: inline-block;
    font-family: var(--second-font);
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.02em;
    color: #000537;
    margin-top: 8px;
    margin-bottom: 28px;
    /* border-left: 3px solid #000537;
    border-right: 3px solid #000537; */
   
}
#allContainer h3{
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000537;
}

.taiwan_item{ 
    display: flex;
    margin-bottom:160px;

}
.reverse{
    flex-direction: row-reverse;
    text-align: right;

}
.textarea{/*包含星星的文字整區*/
    /* background-color: antiquewhite; */
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textrev{
    margin-right: 100px;
    margin-left: 0;
}



