@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/* 重置默認邊距和填充 */
html,
body,
header,
main,
nav,
footer {
    margin: 0;
    padding: 0;
    /* 這將使邊框和填充包含在元素的寬度和高度內 */
    box-sizing: border-box;
}


/* 頁首區 */

#topbar {
    display: flex;
    align-items: flex-start;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    /* 內距 */
    padding: 0px;
    /* 外距 */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* 選單排版 */
#topbar ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
    /* 副軸對齊頂部 */
    align-items: flex-start;
}

.headerLogo {

    padding-bottom: 58px;
    z-index: 1000;
}


.contactBtn {
    color: #000537;
    /* 上方邊界 */
    margin-top: 25px;
    z-index: 990;
    font-size: 20px;
    /* 間距 */
    margin-left: 25px;
    margin-right: 25px;
}

.btn-contact{
    list-style: none;
    padding: 0;

}

.contactBtn a {
    /* 字體設定 */
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 22px;
    letter-spacing: 0.065em;
    list-style: none;

    /* dark blue */
    color: #000537;
    
    /* 按鈕底線 */
    border-bottom: 1.5px solid black;

    /* 底線間距 */
    padding-bottom: 4px;
}



/* 頁尾區 */

#footerBar {
    display: flex;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    align-items: center;
    /* 內距 */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000537;
}

#footerBar ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
}


.footerLogo {
    width: 380px;
}

.footerMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    margin-left: 80px;
    margin-right: 80px;
}

.footerMenu a {
    display: block;
    position: relative;
    font-family: Arial;
    font-size: 19px;
    font-weight: 150;

    /* 不換行 */
    white-space: nowrap;
    /* 拿掉底線 */
    text-decoration: none;
    /* 修改瀏覽器預設的字色 */
    color: rgb(255, 255, 255);
    /* 每一個按鈕的間距 */
    margin-left: 65px;
    margin-right: 65px;
    /* 上下邊界距離 */
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

}