@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

ul {
    list-style-type: none;
}

a {
    /* margin-bottom: 1em; */
    display: block;
    color: #000;
    text-decoration: none;
}

/* 頁首區 */

#top {
    display: flex;
    align-items: flex-start;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    /* 內距 */
    padding: 0px;
    /* 外距 */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* 選單排版 */
#top ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
    /* 副軸對齊頂部 */
    align-items: flex-start;
}

.logo {
    padding-left: ;
    padding-bottom: 58px;
    z-index: 990;
}

.btn {
    width: 400px;
    display: flex;

}

.floatnav {
    width: 300px;
    /* 上方邊界 */
    margin-top: 25px;
    /* 去掉點 */
    z-index: 990;
}


/* 選單動畫區 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Cutive Mono", serif;
    font-size: 1.2em;
    line-height: 1.6;
    /* 網頁背景色 */
    background: #eaeaea;
    overflow-x: hidden;
}


.menu {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    /* 畫面位置 */
    right: 60px;
    top: 60px;
    z-index: 100;
    /* 圓圈大小 但會影響位置 */
    width: 80px;
    height: 80px;
    /* 按鈕底色 */
    background: #ffffff;
    border-radius: 100%;
    transition: .5s ease-in-out;
    /* 過場動畫顏色 */
    box-shadow: 0 0 0 0 #ffffff, 0 0 0 0 #ffffff;
    /* 改變滑鼠游標形狀 */
    cursor: pointer;
}



.hamburger {
    position: absolute;
    /* 畫面位置 */
    top: 40px;
    right: 25px;
    /* 按鈕大小 */
    width: 30px;
    /* 粗細 */
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked+.menu {
    /* 點擊後的背景色 */
    box-shadow: 0 0 0 100vw hsl(0, 0%, 100%), 0 0 0 100vh #ffffff;
    /* 點擊後的圓角 */
    border-radius: 100%;
}

input:checked+.menu .hamburger {
    transform: rotate(45deg);
}

input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    border: 1px solid black;
    /* 四周選單間距 */
    /*padding: 100px 1920px; */
    /* 去掉點 */
    list-style-type: none;
    background-color: #dcdcdc;
    z-index: 200;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    opacity: 0;
    transition: .25s 0s ease-in-out;
    /* 背景圖片 */
    background-image: url(./images/BG.jpg)
}

label ul li {
    /* 每個ul的間距 */
    /*width: 270px;
    height: 600px;*/
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding: 100px 20px;
    text-align: center;
    justify-content: center;
}

label ul li a {
    color: #ffffff;
    font-size: 30px;
    display: block;
    font-family: DM Serif Display;
}




.btn-go {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 20px;
    /* 間距 */
    margin-right: 50px;
}

.btn-contact {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 20px;
    /* 間距 */
    margin-left: 25px;
    margin-right: 25px;
    /* 底線 */
    box-shadow: 0 1.5px;
    /* 底線間距 */
    padding-bottom: 0.5px;
}


/* 頁尾區 */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000537;
    /* 右側間距 */
    padding-right: 100px;

}

.footerLogo a {
    padding-left: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.bottom {
    width: ;
    display: flex;
    /* 上下白線 */
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.bottom li {
    /* 按鈕間距 */
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    padding-left: 0px;
}

.bottom li a {
    font-family: Arial;
    font-weight: ;
    color: #ffffff;
}