.form{
    background-color: #6089cf;
    width: 100vw;
    height: 100vh;
}

#message_form{
	width: 35%;
}

@media(max-width:992px){
	#message_form{
		width: 35%;
	}
	#message_form label{
		margin: 30px 0 10px;
	}
	#message_form input, #message_form textarea{
		padding: 10px 15px;
	}

	::placeholder{
		font-size: 1rem;
	}
	
	#message_form button{
		margin: 30px auto;
	}
}



/*提示文字*/
::placeholder{
	font-size: .8rem;
	color:#bfa7a7

}
#message_form>*{
	display: block;
	width: 100%; /*會跟爸爸一樣寬(35%)*/
	box-sizing: border-box; /*表單要另外加入*/
}
#message_form input, #message_form textarea{
	padding: 10px 15px;
	/*玻璃擬態(毛玻璃效果)*/
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(5px); /*必須搭配背景半透明*/
	border:1px solid rgba(255,255,255,0.1); /*修改input邊框的預設樣式*/
	box-shadow: 2px 2px 5px rgba(255,255,255,0.15) rgba(255,255,255,0.15), inset -1px -1px 1px rgba(255,255,255,0.3);

}

#message_form input{
	font-size: .95rem;
	border-radius: 100px;
	color:#da8484
}
#message_form textarea{
	padding: 10px 15px;
	height: 4.15rem;/*對應字級的高度(0.95rem*5行)*/
	border-radius: 10px;
}

#message_form label{
	margin: 20px 0 10px;
	font-size: .85rem;
	letter-spacing: .1rem;
}

#contact small{
	margin-top: 30px;
	font-size: .8rem;
}

#contact small{
	margin-top: 30px 0 10px;
	font-size: .8rem;

}
/*CSS button hover*/
#message_form button {
	/*position: relative;*/
	outline: none;
	/*text-decoration: none;*/
	border-radius: 50px;
	display: flex; /*必須是flex, span才能分開滑動*/
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/*text-transform: uppercase;*/
	height: 60px;
	width: 50%;
	margin: 50px auto;
	/*opacity: 1;
	background-color: #ffffff;
	border: 1px solid rgba(22, 76, 167, 0.6);*/
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(5px); /*必須搭配背景半透明*/
	border:1px solid rgba(255,255,255,0.1); /*修改input邊框的預設樣式*/
	box-shadow: 2px 2px 5px rgba(255,255,255,0.15) rgba(255,255,255,0.15), inset -1px -1px 1px rgba(255,255,255,0.3);
  }
  button span {
	color: #164ca7;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.7px;
  }
  button:hover {
	animation: rotate 0.7s ease-in-out both;
  }
  button:hover span {
	animation: storm 0.7s ease-in-out both;
	animation-delay: 0.06s;
  }