body {
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(210, 210, 210);
}

/* 主要內容 */
#homepage-content {
    display: flex;
    flex-direction: column;

}

/* 區段一 */
#homepage-topsection {
    background-color: rgb(224, 130, 130);
    height: 112.75rem;
    width: auto;
    z-index: 19;
}

/* 大圖 */
#homepage-bigimage {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* 圖片區容器 */
.homepage-introbox {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    margin-top: 30rem;
    margin-bottom: 50rem;
    padding-bottom: 11.25rem;

}

/* 三張圖 */
.homepage-introimage {
    display: flex;
    position: relative;
    justify-content: center;
    /*     width: 33.75rem */
    
    height: 64.6rem;
    /* 橫向間距 */
    margin-left: 30px;
    margin-right: 30px;

}

#homepage-introimage2 {
    /* 高度差 */
    margin-top: 11.25rem;
}

/* 圖片區文字內容 */
.homepage-introimage-content {
    display: flex;
    position: absolute;
    /*     justify-content:flex-end; */
    width: 33.75rem;
    bottom: 5rem;

    z-index: 20;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5rem;
}

/* 標題 */
.homepage-introimage-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26.6rem;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    color: white;

    border-bottom: 1px solid white;
    padding-bottom: 0.6rem;
    margin: auto;
}

/* 內文 */
.homepage-introimage-content2 {
    display: flex;

    width: 26.6rem;
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    color: white;
}

/* 區段二 */
.homepage-bottomsection {
    background-color: #000537;
    height: 90rem;
    width: 100vw;
    display: flex;
    /* 水平置中 */
    align-items: center;
    flex-direction: column;
}