#pageStyle{
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .styleFront{
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: -100px;
  
  }
  
  #styleImage {
      /*display: flex; /* 確保圖片顯示為區塊元素 */
     /* margin-left: 330px; /* 將左右 margin 設為 auto，使圖片水平置中 */
      /* margin-right: 480px;
      margin-top: -30px;
      max-width: 100%;*/
     /* position: absolute;*/
    z-index: 2;
    margin-right:80px;
      /*display: block;*/
      
   /* margin: 0 auto;
    text-align: center;
    margin-left: 300px;*/
      
    }
  #longImage{
      
      width:100%;
      margin-top: -50px;
      position: relative;
      z-index: 1;
     
  }
  /*#marqueeStyle{
      position: relative;
      width: 100vw;
      max-width: 100%;
      height: 200px;
      overflow-x: hidden;
      margin-top: 25px;
      font-family: var(--second-font);
      font-size: 1.75rem;
  
  }*/

  /* 跑馬燈區域 */
    
    .marquee {
      width: 100%;
      height: 90px;
      overflow: hidden;
      margin-top: 16px;
      padding-bottom: 20px;
    }
    
    .marquee li {
    font-size:  1.75rem;
    font-family: var(--second-font);
    color: var(--main-darkBlue);
    }
    
    .marquee__content {
      display: flex;
      align-items: center;
      animation: scrolling 20s linear infinite;
      
    }
    
    .marquee__item {
      flex-shrink: 0; 
    }
    
    @keyframes scrolling {
      0% { transform: translateX(0) }
      100% { transform: translateX(-100%) }
    }
    
    /* 跑馬燈中的橫線 */

    .marquee hr {
      display: inline-block;
      height: 0px;
      border: 1px solid black; /*橫線加粗*/
      border-left: 50px solid black; /*橫線加長*/
      margin: 10px 6px 5px 15px; /* 添加間距 */
    }

    /* 第二部分Travel style卡片區 */

    #styleContainer{
        min-height: 100vh;
        background-image: url(../images/travelstyle_BG.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #styleContainer>*{
      box-sizing: border-box;
    }

    .sumtext h4{
        font-family: var(--main-font);
        font-size: 1.4rem;
        color: var(--main-yellow);
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.075em;
        margin: 8px 0;
      
      }
      .sumtext h2{
        font-family: var(--second-font);
        font-size:7.1rem;
        color: var(--main-yellow);
        font-weight: 400;
        letter-spacing: -0.01em;
        line-height: 92.6%;
      }
      .sumtext h3{
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 25px;
        letter-spacing: 0.015em;
        color:#FFFFFF;
        margin:16px 0;
      }
    
      .sumtext p{
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.005em;
        color:#FFFFFF;
        margin-bottom: 15px;
    
      }
      .sumtext a{
        display: inline-block;
        text-decoration: none;
        color: var(--main-blue);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 25px;
        letter-spacing: 0.075em;
        border: 2px solid var(--main-blue);
        padding:15px 32px;
    
      }

      .styleCard{
        display: flex;
        flex-direction: column;
        
      }
      .bigCards{
        border: 2px solid red;
        display:flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        height: 30%;
        width: 70%;
        /*scroll-snap-type: x mandatory;*/
      }

      .onlyCard{
        /*flex-shrink: 0;*/
       /* scroll-snap-align: start;*/
        
       width: 60%;

      }







