body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 主內容1 (首圖) */
.honeymoon-section1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(189, 189, 189);
    background-image: url(../images/HoneymoonBG.png);
    /* 圖片填滿背景 */
    background-size: cover;
    /* 縮放圖片依然置中 */
    background-position: center;

    height: 100vh;
    width: 100%;
}

.honeymoon-section1 img {
    width: 76.5625%;
    height: auto;
}


/* 主內容2 (內文) */
.honeymoon-section2 {
    display: flex;
    flex-direction: row;

    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}

/* 左邊圖片區 */
.honeymoon-leftpicture {
    display: flex;
    /* 主軸垂直 */
    flex-direction: column;

    justify-content: center;
    align-content: flex-end;

    background-image: url(../images/honeyMoonLeft.png);
    /* 圖片填滿背景 */
    background-size: cover;
    /* 縮放圖片依然置中 */
    background-position: center;

    /* 固定位置 */
    position: sticky;
    top: 0;

    height: 100vh;
    width: 40%;
}

/* 標題區-大 */
#honeymoon-leftpicture-word1 {
    margin-top: 81%;
}

/* 標題-上 */
.honeymoon-leftpicture-title1 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 6.9rem;

    text-align: center;
    letter-spacing: 0.045em;

    color: #FFFCEB;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
}

/* 標題-下 */
.honeymoon-leftpicture-title2 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 6.9rem;
    text-align: center;
    letter-spacing: 0.005em;
    white-space: nowrap;

    color: #FFFCEB;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
}

/* 標題區-小 */
#honeymoon-leftpicture-word2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 1.5rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* 小字 */
.honeymoon-leftpicture-title3 {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.43rem;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.35em;

    color: #FFFFFF;

    margin-left: 1rem;
    margin-right: 1rem;
}

/* 線段 */
.honeymoon-leftpicture-line {
    height: 1.5px;
    background-color: #ffffff;
    width: 8rem;
}


/* 右邊內容區 */
.honeymoon-content {
    display: flex;
    /* 主軸垂直 */
    flex-direction: column;
    align-items: center;
    width: 60%;

    /* 內容區上端留白 */
    padding-top: 50px;
}

/* 內容區塊 */

.honeymoon-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    /*     background-color: rgb(255, 255, 255); */

    text-align: center;

    margin-top: 50px;
    margin-bottom: 40px;
}

#honeymoon-content-box-7 {
    margin-bottom: 6.7rem;
}


/* 文字區塊 */
.honeymoon-wordbox {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;

    color: black;

    /* 文字區下端留白 */
    margin-bottom: 45px;
}

/* 主標 */
.honeymoon-title {
    font-size: 4rem;
    line-height: 3.68rem;

    letter-spacing: -0.015em;
    margin-bottom: 0.6rem;
}

/* 副標 */
.honeymoon-subtitle {
    font-size: 2.5rem;
    line-height: 2.3rem;
}

/* 圖片區塊 */
.honeymoon-content-imagebox {
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    height: 100%;

    margin-bottom: 32px;
}

.honeymoon-content-image {
    width: 100%;
    /* 圖片R角 */
    border-radius: 45px;
    z-index: -1;

    /* 圖片填滿背景 */
    object-fit: cover;
    /* 縮放圖片依然置中 */
    background-position: center;

}

/* 數字標示 */
.honeymoon-content-image-p {
    position: absolute;
    z-index: 1;

    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 7.1rem;
    letter-spacing: -0.055em;

    color: rgba(255, 255, 255, 0.55);

    right: 5.5%;
    bottom: 5%;
}

/* 介紹文字區塊 */
.honeymoon-content-introbox {
    width: 61.5%;
    text-align: justify;
    height: auto;
}

.honeymoon-content-intro {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;

    letter-spacing: 0.09em;

    color: #000000;
}

/* 內容區線段 */
.honeymoon-content-line {
    width: 1px;
    height: 100px;
    background-color: #000000;
    margin: auto;
}


/* 按鈕區 */
/* 按鈕樣式 */
#honeymoon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: #FFFCEB;
    width: 100%;
    height: 238px;

    /* 去除邊框 */
    border: 0;

    animation: btnin 1s;
    /* 沒hover時變色回來 */
    animation: colorChangeback 0.3s ease-in;
}


.honeymoon-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 100%;
    height: 238px;
}

.honeymoon-btn-box a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}



/* hover按鈕樣式 */
#honeymoon-btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 100%;
    height: 14.8rem;

    border: 1px solid #000537;
    background-color: #47BFD9;

    /* hover時變色 */
    animation: colorChange 0.3s ease-in;
    /* 慢速開始 */
    transition-timing-function: ease-in;

    border: none;
    border-bottom: 2px solid #FFFCEB;
}

/* 按鈕字樣 */
#honeymoon-btn span {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;

    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #000537;

    margin-left: 0px;
    margin-right: 5%;

    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;

}

/* hover按鈕字樣 */
#honeymoon-btn:hover span {
    /* 製造殘影效果 */
    position: absolute;
    z-index: 2;
    /*     display: none; */
    animation: btnout 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover前 */
#honeymoon-btn:before {
    display: flex;

    position: absolute;
    z-index: 1;

    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #000537;
    padding-left: 9%;

    margin-left: 0px;

    opacity: 0;
    animation: btnout 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover後 */
#honeymoon-btn:hover:before {
    display: flex;

    position: absolute;
    z-index: 2;

    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #000537;

    padding-left: 9%;
    margin-left: 0px;

    opacity: 1;
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* arrow */
#honeymoon-btn svg {
    position: absolute;
    left: 66%;
    z-index: 2;

    animation: imgback 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* hover arrow */
#honeymoon-btn:hover svg {
    position: absolute;
    left: 66%;
    z-index: 2;

    animation: imggo 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 箭頭移動 */
@keyframes imggo {
    0% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(100%, 0);

    }
}

@keyframes imgback {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(0, 0);

    }
}


/* 淡入淡出 */
@keyframes btnin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 變色動畫 */
@keyframes colorChange {
    0% {
        background-color: #FFFCEB;
        /* 顏色A */
    }

    100% {
        background-color: #47BFD9;
        /* 顏色B */
    }
}

@keyframes colorChangeback {
    0% {
        background-color: #47BFD9;
        /* 顏色A */
    }

    100% {
        background-color: #FFFCEB;
        /* 顏色B */
    }
}



/* 主內容3 (提示標語) */
.honeymoon-section3 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #47BFD9;
    height: 140px;
    width: 100%;
}


/* 文字 */
.honeymoon-section3 p {
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.56rem;
    letter-spacing: 0.29em;
}

/* RWD 1401-1620 */
@media (min-width:1401px) and (max-width:1620px) {

    /* 按鈕字樣 */
    #honeymoon-btn span {
        margin-left: 0px;
        margin-right: 20%;
    }

    /* hover按鈕字樣 */
    #honeymoon-btn:hover span {
        margin-left: 0px;
        margin-right: 20%;
    }

    /* 偽元素hover前 */
    #honeymoon-btn:before {
        padding-left: 0%;

        margin-left: 0px;
        margin-right: 16px;
    }

    /* 偽元素hover後 */
    #honeymoon-btn:hover:before {
        padding-left: 0%;

        margin-left: 0px;
        margin-right: 16px;
    }

    /* arrow */
    #honeymoon-btn svg {
        left: 60%;
    }

    /* hover arrow */
    #honeymoon-btn:hover svg {
        left: 60%;
    }

    /* 箭頭移動 */
    @keyframes imggo {
        0% {
            transform: translate(0, 0);

        }

        100% {
            transform: translate(105%, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(105%, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }
}

/* RWD 1201-1400 */
@media (min-width:1201px) and (max-width:1400.98px) {

    /* 按鈕字樣 */
    #honeymoon-btn span {
        margin-left: 0px;
        margin-right: 30%;
    }

    /* hover按鈕字樣 */
    #honeymoon-btn:hover span {
        margin-left: 0px;
        margin-right: 30%;
    }

    /* 偽元素hover前 */
    #honeymoon-btn:before {
        padding-left: 0%;

        margin-left: 0px;
        margin-right: 8%;
    }

    /* 偽元素hover後 */
    #honeymoon-btn:hover:before {
        padding-left: 0%;

        margin-left: 0px;
        margin-right: 8%;
    }

    /* arrow */
    #honeymoon-btn svg {
        left: 58%;
        width: 130px;
        height: 48.33px;
    }

    /* hover arrow */
    #honeymoon-btn:hover svg {
        left: 58%;
        width: 130px;
        height: 48.33px;
    }

    /* 箭頭移動 */
    @keyframes imggo {
        0% {
            transform: translate(0, 0);

        }

        100% {
            transform: translate(120%, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(120%, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }
}


/* RWD 767-1200 */
@media (min-width: 767px) and (max-width: 1200.98px) {

    /* 內容區置中 */
    .honeymoon-section2 {
        width: 100%;
        justify-content: center;
    }

    /* 左邊圖片區隱藏 */
    .honeymoon-leftpicture {
        display: none;
        width: 0;
    }

    /* 右邊內容區 */
    .honeymoon-content {
        width: 100%;
    }

    /* 內容區塊 */

    .honeymoon-content-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: auto;
        /*     background-color: rgb(255, 255, 255); */

        text-align: center;

        margin-top: 50px;
        margin-bottom: 40px;
    }

    #honeymoon-content-box-7 {
        margin-bottom: 6.7rem;
    }


    /* 文字區塊 */
    .honeymoon-wordbox {
        /* 文字區下端留白 */
        margin-bottom: 30px;
    }

    /* 主標 */
    .honeymoon-title {
        font-size: 2.75rem;
        line-height: 2.56rem;

        letter-spacing: -0.015em;
        margin-bottom: 6px;
    }

    /* 副標 */
    .honeymoon-subtitle {
        font-size: 1.75rem;
        line-height: 1.625rem;
    }

    /* 圖片區塊 */
    .honeymoon-content-imagebox {
        width: 70%;
        height: 100%;

        margin-bottom: 25px;
    }

    .honeymoon-content-image {
        /* 圖片R角 */
        border-radius: 25px;
    }

    /* 數字標示 */
    .honeymoon-content-image-p {
        font-size: 4.3rem;
        line-height: 5rem;
    }

    /* 介紹文字區塊 */
    .honeymoon-content-introbox {
        width: 64%;
        text-align: center;
    }

    .honeymoon-content-intro {
        font-size: 0.75rem;
        line-height: 1.1rem;
    }

    /* 內容區線段 */
    .honeymoon-content-line {
        height: 60px;
    }


    /* 按鈕區 */
    .honeymoon-btn-box {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 158px;
    }

    /* 按鈕樣式 */
    #honeymoon-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 158px;
    }

    /* hover按鈕樣式 */
    #honeymoon-btn:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 158px;
    }

    /* 按鈕字樣 */
    #honeymoon-btn span {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 2rem;
        line-height: 2.75rem;

        margin-left: 0rem;
        margin-right: 15%;
        padding-right: -10%;
    }

    /* hover按鈕字樣 */
    #honeymoon-btn:hover span {
        font-size: 2rem;
        line-height: 2.75rem;

        margin-left: 0rem;
        margin-right: 15%;
    }

    /* 偽元素hover前 */
    #honeymoon-btn:before {
        font-size: 2rem;
        line-height: 2.75rem;

        padding-left: 0%;

        margin-left: 0rem;
        /*         margin-right: 16px; */
    }

    /* 偽元素hover後 */
    #honeymoon-btn:hover:before {
        font-size: 2rem;
        line-height: 2.75rem;

        padding-left: 0%;

        margin-left: 0rem;
        /*         margin-right: 16px; */
    }

    /* arrow */
    #honeymoon-btn svg {
        width: 103.42px;
        height: 38.13px;

        left: 60%;
    }

    /* hover arrow */
    #honeymoon-btn:hover svg {
        width: 103.42px;
        height: 38.13px;

        left: 60%;
    }

    /* 箭頭移動 */
    @keyframes imggo {
        0% {
            transform: translate(0, 0);

        }

        100% {
            transform: translate(120%, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(120%, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 主內容3 (提示標語) */
    .honeymoon-section3 {
        height: 140px;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }


    /* 文字 */
    .honeymoon-section3 p {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.15em;
        text-align: center;
    }
}