
#aboutTaiwan01{
    height: 100vh;
    width: 100%;
    background-image: url(../images/aboutTaiwan_BG.png);
	background-size: cover;
	background-position: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;

}


.bigcontainer{
    
    position: absolute;
    /* margin: 0 auto; */
    width: 63%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* gap: 7%; */
    /* justify-content: center; */
    align-items: center;
    margin-bottom:7.8%;
    margin-left: -3%;
}

#titleBanner{
    min-width: 900px;
    width: 100%;
    position: relative;
    z-index: 5;
    /* margin-top: -%; */
    /* transform: translate(1%,15%); */
}

#titleBanner2{
    display: none;
}


/* .banner_word{ 
    background-color: aquamarine;    */
/* display: block;
    position: relative;
    z-index: 5;
    margin-bottom: 15%;
    /* width: 70%; */
    /* width: 1214px; */
    /*font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--main-yellow);
    /* transform: translate(4%,-63%); */
    /* transform: translateY(-150%);    */
/* text-shadow: 0px 4px 35px rgba(0, 0, 0, 0.3), 2px 2px 18px rgba(0, 5, 55, 0.4); 
} */



/* 滑鼠滾輪gif */

.scroll-downs-container {
    position:relative;
    /* z-index: 5; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 3.2%; */
    margin-bottom: -33%;
    width: 6%;
    /* width: 115px;
    height: 123px; */
    /* justify-content: space-between; */
    /* transform: translateX(-1%); */
}


#scroller{
    /* background-color: #000537; */
    /* object-fit: cover; */
    /* height: 90px; */
    width:80%;
    height: 80%;

}

.scroller_word{
display: block;
width: 100%;
font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: max(0.8vw, 0.2rem);
/* font-size: 0.875rem; */
line-height: 1rem;
letter-spacing: 0.065em;
color: white;
margin-top: .4rem;
white-space: nowrap;
/* margin-right: 10%; */

}


/*小筆電:scrolling位置*/

@media (min-width: 1025px) and (max-width: 1440px) {
    .scroll-downs-container {
        margin-bottom: -40%;
    }
}


/* 旋轉花花區 */

.flowerBox{
    position: absolute;
    height: 100vh;
    width: 100%;
}
#flower1{
    position: absolute;
    width: 13.5%;
    top: 39.4%;
    left: 16.8%;
    
    animation-name: move1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes move1{
    0%{transform: translateY(0) rotate(55.12deg); opacity:0.25;}
    100%{transform: translateY(-67.5%) rotate(0deg); opacity:1;}
}

#flower2{
    position: absolute;
    width: 6.5%;
    left: 15%;
    top:55.5%;
    animation-name: move2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes move2{
    0%{transform: translateY(0) rotate(64deg); opacity:0.23;}
    100%{transform: translateY(-85%) rotate(0deg); opacity:1;}
}

#flower3{
    position: absolute;
    width: 13%;
    top:38%;
    right: 22%;
    animation-name: move3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move3{
    0%{transform: translateY(0) rotate(-43.58deg); opacity:0.2;}
    100%{transform: translateY(-70%) rotate(0deg); opacity:0.7;}
}

#flower4{
    position: absolute;
    width: 10%;
    bottom:15%;
    right: 19.5%;
    animation-name: move4;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move4{
    0%{transform: translateY(0) rotate(-139.97deg); opacity:0.35;}
    100%{transform: translateY(-90.5%) rotate(0deg); opacity:0.9;}
}

#flower5{
    position: absolute;
    width: 2.5%;
    bottom:35%;
    right: 18%;
    animation-name: move5;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

@keyframes move5{
    0%{transform: translateY(0) rotate(-86.97deg); opacity:0.4;}
    100%{transform: translateY(-350%) rotate(0deg); opacity:0.7;}
} 

#flower6{
    position: absolute;
    width: 1.5%;
    bottom:28%;
    right: 15%;
    animation-name: move6;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move6{
    0%{transform: translateY(0) rotate(-144deg); opacity:0.4;}
    100%{transform: translateY(-610%) rotate(0deg); opacity:0.7;}
}


/*平板:上半部分的變化*/

@media (min-width: 577px) and (max-width:1024.98px) {
    #aboutTaiwan01{
        height: 75vh;
        background-repeat: no-repeat;
        animation: zoom 1.5s both ease-in-out;
    }

@keyframes zoom{
    0%{ background-size: 250%}
    100%{background-size: 240%}
    }

    .bigcontainer{
        width: 76%;
        height: 75vh;
        margin: 0;
    }

    #titleBanner{
        display: none;
    }

    #titleBanner2{
        display: block;
        margin-bottom: 12%;
        width: 100%;
        position: relative;
        z-index: 5;
    }

    .scroll-downs-container{
        display: none;
    }

    
    .flowerBox{
    height: 75vh;
    }

#flower1{
    
    width: 13.5%;
    top: 39.4%;
    left: 14.5%;
    animation-name: move1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
    

}

@keyframes move1{
    0%{transform: translateY(0) rotate(61.75deg); opacity:0.25;}
    100%{transform: translateY(-55.5%) rotate(0deg); opacity:1;}
}

#flower2{
    

    width: 8%;
    left: 9.8%;
    top:50%;
    animation-name: move2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 

}

@keyframes move2{
    0%{transform: translateY(0) rotate(-43.91deg); opacity:0.23;}
    100%{transform: translateY(-85%) rotate(-103.23deg); opacity:1;}
}

#flower3{
    

    width: 16%;
    top:41%;
    right: 12.5%;
    animation-name: move3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}


@keyframes move3{
    0%{transform: translateY(0) rotate(68.21deg); opacity:0.2;}
    100%{transform: translateY(-70%) rotate(18.73deg); opacity:1;}
}

#flower4{
    

    width: 9%;
    bottom:34%;
    right: 13%;
    animation-name: move4;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 

}

@keyframes move4{
    0%{transform: translateY(0) rotate(154.94deg); opacity:0.35;}
    100%{transform: translateY(-90.5%) rotate(108.87deg); opacity:0.9;}
}

#flower5{
    
    width: 3.1%;
    bottom:42.5%;
    right: 8%;
    animation-name: move5;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 

    
}

@keyframes move5{
    0%{transform: translateY(0) rotate(-71.75deg); opacity:0.4;}
    100%{transform: translateY(-350%) rotate(-31.75deg); opacity:0.7;}
} 

#flower6{
    
    width: 1.6%;
    bottom:38%;
    right: 6%;
    animation-name: move6;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 

}

@keyframes move6{
    0%{transform: translateY(0) rotate(22.85deg); opacity:0.4;}
    100%{transform: translateY(-610%) rotate(22.85deg); opacity:0.7;}
}

}




/* 下半部資訊區 */

#aboutTaiwan02{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(white 76.4%,var(--main-yellow)76.4%);
}

/*全部的圖片加文字的區域*/

#allContainer{ 
    /* position: relative; */
    margin-top: 140px;
    height: auto;   
    /* background-color: rgb(228, 20, 20); */

}

/* 資訊欄區域，包含圖片*/
.taiwan_item{ 
    /* background-color: blue; */
    display: flex;
    align-items: center;
    height: 35vh;
    /* justify-content: center; */
    /* height: 23.75em; */
    margin-bottom:14.8vh;

}

.reverse{ 
    flex-direction: row-reverse;
    text-align: right;

}

/* 視差圖片 */
.parallaximg{
    /* background-color: aqua; */
    width: 46.5%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    /* object-fit: cover; */
    overflow: hidden;
    position: relative; /* 為了讓內部圖片可進行絕對定位 */
}

.parallaximg img {
    display: block;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    max-width: 100%;
    top:0;
    left: 0;
}

/*給平板的內容隱藏*/
.ipadtxt{
    display: none;
}


/*僅不包含視差圖片的資訊區*/
.textarea{
    /* background-color: antiquewhite; */
    width: 45%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
}
.textrev{
    margin-right: 8%;
    margin-left: 0;
}

.stardecor img{
    width: 3vw;
}


/* 純文字區域 */
#titleText{
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    /* background-color: rgb(2, 33, 23); */

}
#allContainer h2{
   
    font-family: var(--second-font);
    font-style: italic;
    font-weight: 400;
    font-size: max(2.6vw, 2.5rem);
    line-height: 82px;
    letter-spacing: 0.02em;
    color: #000537;

    /* border-left: 3px solid #000537;
    border-right: 3px solid #000537; */
   
}

#allContainer span{
    font-weight: 999.5;
    font-size: max(2.7vw, 2.5rem);
    font-style: normal;
}

#allContainer h3{
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: max(1.08vw, 0.875rem);
    line-height: 158.27%;
    color: #000537;
}


/* 最後一個useful info */

.useful{
    margin-bottom: 0;
    height: 45.2vh;
}

#lastbudda{
    display: block;
    height:100%;
}
.taiwanpic.smoove.budda{
    width: 100%;
    /* height: 100%; */
    height:100%;
}

/*平板:內文資訊區*/

@media (min-width: 577px) and (max-width:1024.98px) {
    #aboutTaiwan02{
        padding: 0;
        justify-content: center;
        background-image: linear-gradient(white 82.3%,var(--main-yellow)82.3%);
    }

    #allContainer{        
        width: 71%;
        height: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .taiwan_item{ 
        display: none;
    }


    .ipadtxt{
        display: block;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom:10vh;
        
    }

    .ipad_titleText{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    /*讓星星跟標題顛倒*/

    .ipad_titleText.oppo{
        display: flex;
        flex-direction: row-reverse;
    }

    .ipad_titleText img{
        width: 6.5%;
        margin-right: 4.4%;
    }

    /*顛倒星星的margin改變位置*/

    .ipad_titleText.oppo img{
        margin:0 0 0 4.4%;
    }

    .ipad_parallaximg{
        border-radius: 25px 25px 0px 0px;
        width: 100%;
        height: 25vh;
        overflow: hidden;
        position: relative; /* 為了讓內部圖片可進行絕對定位 */
    }

    .ipad_taiwanpic{
        display: block;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        position: absolute;
        max-width: 100%;
        top: -50px; /*讓圖片在框框內的顯示區域改變*/
        left: 0;
    }

    /*內文的區域*/

    .ipad_infoarea{
        
        width: 90%;
        margin: 25px auto 0 auto;
    }
    
    .ipad_infoarea h3{
        line-height: 1.59rem;
    }

    /* 資訊區最後一個的改變 */

    .ipadtxt.smoove_z.usetxt{
        margin: 1.5vh 0 4.7vh 0;
    }

}



/*按鈕區*/

#taiwanbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 100%;
}

#taiwanbtn a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 9.1rem;
    margin: 10% 0;
    
}

/* 按鈕樣式 */
#about-taiwanbtn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 9.1rem;
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    /* 沒hover時變色回來 */
    animation: colorChangeback 0.3s ease-in;

}


/* hover按鈕樣式 */
#about-taiwanbtn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 9.1rem;
    border: 2px solid var(--main-blue);
    background-color: var(--main-yellow);
    /* hover時變色 */
    animation: colorChange 0.3s ease-in;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}



/* 按鈕字樣 */
#about-taiwanbtn span {
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-yellow);
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
    transform: translateX(-7%);
    
}

/* hover按鈕字樣 */
#about-taiwanbtn:hover span {
    /* 製造殘影效果 */
    position: absolute;
    z-index: 2;
    /*     display: none; */
    animation: btnout 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover前 */
#about-taiwanbtn:before {
    display: flex;
    position: absolute;
    z-index: 1;
    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-blue);
    padding-left: 35rem;
    margin-left: 0rem;
    margin-right: 1rem;
    opacity: 0;
    animation: btnout 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover後 */
#about-taiwanbtn:hover:before {
    display: flex;
    position: absolute;
    z-index: 2;
    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-blue);
    padding-left: 35rem;
    margin-left: 0rem;
    margin-right: 1rem;
    opacity: 1;
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* arrow */
#about-taiwanbtn-img {
    /*background-color: blue;*/
    position: absolute;
    /* 初始位置 */
    left: 70%;
    /* margin-left: 5rem; */
    animation: imgback 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* hover arrow */
#about-taiwanbtn:hover svg{
    position: absolute;
    /* 初始位置 */
    left: 75%;
    z-index: 2;
    animation: imggo 0.3s forwards;
    
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/*svg箭頭路徑變色*/
#about-taiwanbtn:hover svg path{
    fill:var(--main-blue);
}

/* 箭頭移動 */
@keyframes imggo {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(10rem, 0);

    }
}

@keyframes imgback {
    0% {
        transform: translate(10rem, 0);
    }

    100% {
        transform: translate(0, 0);

    }
}

/* 淡入淡出 */
@keyframes btnin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 變色動畫 */
@keyframes colorChange {
    0% {
        background-color: #47BFD9;
        /* 顏色A */
    }

    100% {
        background-color:var(--main-yellow);
        /* 顏色B */
    }
}

@keyframes colorChangeback {
    0% {
        background-color: var(--main-yellow);
        /* 顏色A */
    }

    100% {
        background-color: #47BFD9;
        /* 顏色B */
    }
}

/*RWD小筆電板:按鈕變化*/

@media (min-width: 1500px) and (max-width:1919.98px) {

    /* arrow */
    #about-taiwanbtn-img {
        left: 75%;
    }

    /* hover arrow */
    #about-taiwanbtn:hover svg {
        left: 78%;
    }


    @keyframes imggo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(5rem, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(5rem, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 偽元素hover前 OK! Here We GO! */
    #about-taiwanbtn:before {

        font-size: 3rem;
        padding-left: 20rem;
        margin-right: 1rem;
    }

    /* 偽元素hover後OK! Here We GO! */
    #about-taiwanbtn:hover:before {
        font-size: 3rem;
        padding-left: 20rem;
    }
}

@media (min-width: 1400px) and (max-width:1499.98px) {

    #about-taiwanbtn span {

        font-size: 2.5rem;
        transform: translateX(-7%);
        
    }

    /* arrow */
    #about-taiwanbtn-img {
        width: 12%;
        left: 75%;
    }

    /* hover arrow */
    #about-taiwanbtn:hover svg {
        width: 12%;
        left: 78%;
    }



    @keyframes imggo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(4rem, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(4rem, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 偽元素hover前 OK! Here We GO! */
    #about-taiwanbtn:before {

        font-size: 2.5rem;
        padding-left: 20rem;
        margin-right: 1rem;
    }

    /* 偽元素hover後OK! Here We GO! */
    #about-taiwanbtn:hover:before {
        font-size: 2.5rem;
        padding-left: 20rem;
    }
}

@media (min-width: 1200px) and (max-width:1399.98px) {

    #about-taiwanbtn span {

        font-size: 2.4rem;
        transform: translateX(-7%);
        
    }

    /* arrow */
    #about-taiwanbtn-img {
        width: 10%;
        left: 77%;
    }

    /* hover arrow */
    #about-taiwanbtn:hover svg {
        width: 10%;
        left: 79%;
    }



    @keyframes imggo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(4.2rem, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(4.2rem, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 偽元素hover前 OK! Here We GO! */
    #about-taiwanbtn:before {

        font-size: 2.4rem;
        padding-left: 15rem;
        margin-right: 1rem;
    }

    /* 偽元素hover後OK! Here We GO! */
    #about-taiwanbtn:hover:before {
        font-size: 2.4rem;
        padding-left: 15rem;
    }
}

@media (min-width: 1025px) and (max-width:1199.98px) {

    #about-taiwanbtn span {

        font-size: 2.2rem;
        transform: translateX(-7%);
        
    }

    /* arrow */
    #about-taiwanbtn-img {
        width: 10%;
        left: 77%;
    }

    /* hover arrow */
    #about-taiwanbtn:hover svg {
        width: 10%;
        left: 79%;
    }



    @keyframes imggo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(4.2rem, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(4.2rem, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 偽元素hover前 OK! Here We GO! */
    #about-taiwanbtn:before {

        font-size: 2.2rem;
        padding-left: 15rem;
        margin-right: 1rem;
    }

    /* 偽元素hover後OK! Here We GO! */
    #about-taiwanbtn:hover:before {
        font-size: 2.2rem;
        padding-left: 15rem;
    }
}

/* 平板:按鈕區域 */

@media (min-width: 577px) and (max-width:1024.98px) {

    #taiwanbtn {
        display: inline-block;
        align-self: center;
        width: 127.5%;
        height: 100px;
        margin-bottom: 80px;
    }
    
    #taiwanbtn a {

        height: 100px;
        margin: 0;
        
    }

    #about-taiwanbtn {
        height: 100px;
    }

    #about-taiwanbtn:hover {
        height: 100px;
    }
    

    #about-taiwanbtn span {

        font-size: 1.375rem;
        letter-spacing: 15.5%;
        transform: translateX(0);
        
    }

    /* arrow */
    #about-taiwanbtn-img {
        width: 10%;
        height: 30%;
        left: 75%;
    }

    /* hover arrow */
    #about-taiwanbtn:hover svg {
        width: 10%;
        height: 30%;
        left: 77%;
    }



    @keyframes imggo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(2.2rem, 0);

        }
    }

    @keyframes imgback {
        0% {
            transform: translate(2.2rem, 0);
        }

        100% {
            transform: translate(0, 0);

        }
    }

    /* 偽元素hover前 OK! Here We GO! */
    #about-taiwanbtn:before {

        font-size: 1.375rem;
        letter-spacing: 15.5%;
        padding-left: 10rem;
        margin-right: 1rem;
    }

    /* 偽元素hover後OK! Here We GO! */
    #about-taiwanbtn:hover:before {
        font-size: 1.375rem;
        letter-spacing: 15.5%;
        padding-left: 10rem;
    }
}



