body {
    padding: 0px;
    overflow-x: hidden;
}

/* 區段一 */
.aboutus-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 515px;
    background-color: white;
}

/* 大標區 */
.aboutus-title-box {
    padding-top: 47px;
    padding-bottom: 37px;
}

/* 按鈕區 */
.aboutus-btn-box {
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 80px;
}

/* 共用 */
.aboutus-btn-outsvg {
    position: absolute;
    z-index: 8;
}

/* 外框 */
#svg-frame{
    z-index:10;
}

.aboutus-btn-div{
    display: flex;
}

/* 按鈕 */
.aboutus-btn {
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    cursor: pointer;
    display: flex;
    z-index: 3;
}

/* 按鈕底色 */
.aboutus-btn-svg {
    position: absolute;
    z-index: 8;
    width: 100%;
}

.btn1 {
/*     width: 306.81px; */
}

.btn2 {
/*     width: 362px; */
}


/* 按鈕文字 */
.aboutus-btn-p {

    align-items: center;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.065em;
    white-space: nowrap;

    color: #000537;

/*     padding-left: 50px;
    padding-right: 50px; */

    position: absolute;
    display: flex;
    z-index: 5;
}

/* 區段二 */
.aboutus-second-section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(188, 188, 188);

    /* R角 */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* 區段三 */
.aboutus-third-section {
    width: 100vw;
    height: 440px;
    background-color: #FFFCEB;

    display: flex;
    flex-direction: column;
}

/* 色塊區 */
.aboutus-color-box {
    background-color: #47BFD9;
    height: 40px;
    width: 100vw;
}

/* choose區 */
.aboutus-choose-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 100vw;
}

.aboutus-choose-titlebox {
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* 文字區 */
.aboutus-choose-wordbox {
    display: flex;
    flex-direction: column;
    width: 26.25rem;
    height: 145px;
    margin-left: 264px;
}

/* 上區 */
.aboutus-choose-titlebox {
    display: flex;
    flex-direction: row;
    width: 26rem;
}


/* 主標題 */
.aboutus-choose-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4.875rem;
    line-height: 6.6rem;
    letter-spacing: 0.02em;
    white-space: nowrap;
    color: #000537;

    margin-right: 28px;
}

.aboutus-choose-subtitle {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1rem;

    letter-spacing: 0.07em;

    color: #000537;
    margin-left: 60px;
}


/* 聯絡按鈕區 */
/* choose按鈕 */
#aboutus-choosebtn-box {
    margin-left: 96px;
    display: flex;
    justify-content: flex-start;
}

/* 按鈕樣式 */
#aboutus-choosebtn {
    display: flex;
    align-items: center;
    position: relative;

    cursor: pointer;

    width: 875px;
    height: 100px;
    background-color: #47BFD9;

    border: 2px solid #47BFD9;

    /* 沒hover時變色回來 */
    animation: colorChangeback 0.3s ease-in;
}

#aboutus-choosebtn-box {
    display: flex;

    align-items: center;
    background-color: none;
    width: 100%;
}

#aboutus-choosebtn-box a {
    display: flex;

    align-items: center;
    text-decoration: none;
    width: 875px;
}


/* hover按鈕樣式 */
#aboutus-choosebtn:hover {
    display: flex;
    align-items: center;

    cursor: pointer;

    width: 875px;
    height: 100px;

    border: 2px solid #47BFD9;
    background-color: #FFFCEB;

    /* hover時變色 */
    animation: colorChange 0.3s ease-in;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 按鈕字樣 */
#aboutus-choosebtn span {
    display: flex;
    align-items: center;


    height: 9rem;

    font-size: 2rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;

    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #ffffff;

    margin-left: 146px;
    margin-right: 1rem;

    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* hover按鈕字樣 */
#aboutus-choosebtn:hover span {
    /* 製造殘影效果 */
    position: absolute;
    z-index: 2;
    /*     display: none; */
    animation: btnout 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover前 */
#aboutus-choosebtn:before {
    display: flex;

    position: absolute;
    z-index: 1;

    content: "OK! Here We GO!";
    font-size: 2rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #47BFD9;

    padding-left: 390px;

    margin-left: 0rem;
    margin-right: 1rem;

    opacity: 0;
    animation: btnout 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover後 */
#aboutus-choosebtn:hover:before {
    display: flex;

    position: absolute;
    z-index: 2;

    content: "OK! Here We GO!";
    font-size: 2rem;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 3.75rem;
    letter-spacing: 0.155em;
    color: #47BFD9;

    padding-left: 390px;

    margin-left: 0rem;
    margin-right: 1rem;

    opacity: 1;
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 箭頭移動 */
/* arrow */
#aboutus-choosebtn svg {
    position: absolute;
    /* 初始位置 */
    left: 75%;
    z-index: 2;

    animation: imgback 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* hover arrow */
#aboutus-choosebtn:hover svg {
    position: absolute;
    /* 初始位置 */
    left: 75%;
    z-index: 2;
    /*     filter: invert(52%) sepia(100%) saturate(288%) hue-rotate(143deg) brightness(107%) contrast(85%); */
    animation: imggo 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 箭頭變色 */
/* path */
#aboutus-choosebtn-svg path {
    animation: pathColorChangeBack 0.3s forwards;
}

/* hover path */
#aboutus-choosebtn:hover #aboutus-choosebtn-svg-path {
    animation: pathColorChange 0.3s forwards;
}


/* 箭頭移動 */
@keyframes imggo {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(90px, 0);

    }
}

@keyframes imgback {
    0% {
        transform: translate(90px, 0);
    }

    100% {
        transform: translate(0, 0);

    }
}

/* 淡入淡出 */
@keyframes btnin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 按鈕變色動畫 */
@keyframes colorChange {
    0% {
        background-color: #47BFD9;
        /* 顏色A */
    }

    100% {
        background-color: #FFFCEB;
        /* 顏色B */
    }
}

@keyframes colorChangeback {
    0% {
        background-color: #FFFCEB;
        /* 顏色A */
    }

    100% {
        background-color: #47BFD9;
        /* 顏色B */
    }
}

/* 箭頭變色動畫 */
@keyframes pathColorChange {
    0% {
        fill: white;
    }

    100% {
        fill: #47BFD9;
    }
}

@keyframes pathColorChangeBack {
    0% {
        fill: #47BFD9;
    }

    100% {
        fill: white;
    }
}