.959_1420 {
    overflow: hidden;
}

.e959_1420 {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 3800px;
    position: absolute;
}

.e959_1422 {
    background-color: rgba(0, 4.6041621174663305, 55.25000050663948, 1);
    width: 1920px;
    height: 1396px;
    position: absolute;
    left: 0px;
    top: 1804px;
}

.e959_1423 {
    background-color: rgba(0, 4.6041621174663305, 55.25000050663948, 1);
    width: 1920px;
    height: 1996px;
    position: absolute;
    left: 0px;
    top: 1804px;
}

.e959_1424 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 90px;
    top: 650px;
}

.e959_1425 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1425_911_1703 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1425_911_1532 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/rectangle_25.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ei959_1425_911_1752 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 864px;
}

.ei959_1425_911_1753 {
    background-image: linear-gradient(0deg, rgba(0, 4.6041621174663305, 55.25000050663948, 0) 39.58333432674408%, rgba(0, 2.656247466802597, 31.875, 1) 92.70833134651184%);
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1425_911_1754 {
    color: rgba(255, 252.00000017881393, 235.0000011920929, 1);
    width: 427px;
    height: 111px;
    position: absolute;
    left: 56px;
    top: 849px;
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    letter-spacing: 7.5;
}

.ei959_1425_911_1755 {
    color: rgba(255, 252.00000017881393, 235.0000011920929, 1);
    width: 302px;
    height: 63px;
    position: absolute;
    left: 125px;
    top: 757px;
    font-family: Arial;
    text-align: left;
    font-size: 32px;
    letter-spacing: 1;
}

.i959_1425_911_1756 {
    border: 1.5px solid rgba(255, 252.00000017881393, 235.0000011920929, 1);
}

.ei959_1425_911_1756 {
    width: 411.5px;
    height: 0px;
    position: absolute;
    left: 61.5px;
    top: 832.5px;
}

.e959_1426 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 1294px;
    top: 650px;
}

.e959_1427 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1427_911_1657 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1427_911_1658 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/rectangle_26.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ei959_1427_911_1659 {
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1427_911_1660 {
    background-image: linear-gradient(0deg, rgba(0, 4.6041621174663305, 55.25000050663948, 0) 39.58333432674408%, rgba(0, 3.000000058673322, 32.00000189244747, 1) 92.70833134651184%);
    width: 540px;
    height: 1035px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei959_1427_911_1661 {
    color: rgba(255, 252.00000017881393, 235.0000011920929, 1);
    width: 427px;
    height: 108px;
    position: absolute;
    left: 56px;
    top: 849px;
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    letter-spacing: 7.5;
}

.ei959_1427_911_1662 {
    color: rgba(255, 252.00000017881393, 235.0000011920929, 1);
    width: 286px;
    height: 63px;
    position: absolute;
    left: 127px;
    top: 757px;
    font-family: Arial;
    text-align: left;
    font-size: 32px;
    letter-spacing: 1;
}

.i959_1427_911_1663 {
    border: 1.5px solid rgba(255, 252.00000017881393, 235.0000011920929, 1);
}

.ei959_1427_911_1663 {
    width: 411.5px;