/* body {
    margin: 0px;
    overflow-x: hidden;
} */
#aboutTaiwan01{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/aboutTaiwan_BG.png);
	background-size: cover;
	background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.bigcontainer{
    
    position: relative;
    margin: 0 auto;
}

.banner_word{ 
    /* background-color: aquamarine;    */
    display: block;
    position: relative;
    z-index: 5;
    width: 1214px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--main-yellow);
    transform: translate(4%,-63%);
    /* transform: translateY(-150%);    */
    text-shadow: 0px 4px 35px rgba(0, 0, 0, 0.3), 2px 2px 18px rgba(0, 5, 55, 0.4); 
}

#titleBanner{
    position: relative;
    z-index: 5;
    transform: translate(1%,15%);
}


/* 滑鼠滾輪gif */

.scroll-downs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1%);
  }
  
.scroll-downs{
    /* background-color: crimson; */
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

#scroller{
    /* background-color: #000537; */
    object-fit: cover;
    height: 90px;
    width: auto;

}

.scroller_word{
font-family: var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 0.9rem;
line-height: 16px;
letter-spacing: 0.065em;
color: white;
margin-top: .4rem;

}

/* 旋轉花花區 */

#flower1{
    position: relative;
    z-index: 1;
    opacity:0.25;
    transform: translate(21.5%,-125%) rotate(55.12deg);
    /* animation: flower1 11s both ease-in-out; */
    animation-name: move1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}
@keyframes move1{
    0%{transform: translate(21.5%,-125%)rotate(55.12deg); opacity:0.25;}
    100%{transform: translate(21.5%,-190%) rotate(0deg); opacity:1;}
}

#flower2{
    position: relative;
    z-index: 1;
    transform: translate(-178%,-140%) rotate(64deg);
    opacity:0.23;
    animation-name: move2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move2{
    0%{transform: translate(-178%,-140%) rotate(64deg); opacity:0.23;}
    100%{transform: translate(-178%,-240%) rotate(0deg); opacity:1;}
}

#flower3{
    position: relative;
    z-index: 1;
    transform: translate(230%,-120%) rotate(-43.58deg);
    opacity:0.5;
    animation-name: move3;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move3{
    0%{transform: translate(230%,-120%) rotate(-43.58deg); opacity:0.2;}
    100%{transform: translate(230%,-200%) rotate(0deg); opacity:0.7;}
}

#flower4{
    position: relative;
    z-index: 1;
    transform: translate(175%,-40%) rotate(-139.97deg);
    opacity:0.35;
    animation-name: move4;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move4{
    0%{transform: translate(175%,-40%) rotate(-139.97deg); opacity:0.35;}
    100%{transform: translate(175%,-120%) rotate(0deg); opacity:0.8;}
}
 #flower5{
    position: relative;
    z-index: 1;
    transform: translate(800%,-720%)  rotate(-86.97deg);
    opacity:0.8;
    animation-name: move5;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes move5{
    0%{transform: translate(800%,-720%) rotate(-86.97deg); opacity:0.4;}
    100%{transform: translate(800%,-1080%) rotate(6deg); opacity:0.8;}
} 
#flower6{
    position: relative;
    z-index: 1;
    transform: translate(1370%,-920%)  rotate(-144deg);
    opacity:0.8;
    animation-name: move8;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes move8{
    0%{transform: translate(1370%,-920%) rotate(-144deg); opacity:0.4;}
    100%{transform: translate(1370%,-1500%) rotate(0deg); opacity:1;}
} 





/* 下半部資訊區 */

#aboutTaiwan02{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(white 77.8%,var(--main-yellow)77.8%);
}

/*全部的圖片加文字的區域*/

#allContainer{ 
    /* position: relative; */
    margin-top: 140px;   
    /* background-color: rgb(228, 20, 20); */

}

/* 資訊欄區域，包含圖片*/
.taiwan_item{ 
    /* background-color: blue; */
    display: flex;
    margin-bottom:160px;
}

.reverse{ 
    flex-direction: row-reverse;
    text-align: right;

}

/* 視差圖片 */
.parallaximg{
    /* background-color: aqua; */
    width: 47%;
    height: 380px;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
    position: relative; /* 為了讓內部圖片可進行絕對定位 */
}

.parallaximg img {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#taiwangeo{
    transform: translateY(-15%);
}

/*僅不包含視差圖片的資訊區*/
.textarea{
    /* background-color: antiquewhite; */
    width: 45%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
}
.textrev{
    margin-right: 100px;
    margin-left: 0;
}

/* 純文字區域 */
#titleText{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 28px;
    /* background-color: rgb(2, 33, 23); */

}
#allContainer h2{
   
    font-family: var(--second-font);
    font-style: italic;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 82px;
    letter-spacing: 0.02em;
    color: #000537;

    /* border-left: 3px solid #000537;
    border-right: 3px solid #000537; */
   
}

#allContainer span{
    font-weight: 999.5;
    font-size: 3.625rem;
    font-style: normal;
}
 
#allContainer h3{
    font-family:var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 36px;
    color: #000537;
}


/* 最後一個useful info */

.useful{
    margin-bottom: 0;
}
/* #taiwanInfo{
   background-color: brown;
   width: 100%;
   height: 11.2%;
} */
.parallaximg .last{
    display: inline-block;

}
.taiwanpic .smoove .budda{
    width: 100%;
    height: 100%;
}


/*按鈕區*/

/* 按鈕樣式 */
#taiwan-travelbtn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 9.1rem;
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    /* 沒hover時變色回來 */
    animation: colorChangeback 0.3s ease-in;
    margin-top: 13vh;
    margin-bottom: 13vh;

}

#taiwanbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 100%;
}

#taiwanbtn a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}


/* hover按鈕樣式 */
#taiwan-travelbtn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 9.1rem;
    border: 2px solid var(--main-blue);
    background-color: var(--main-yellow);
    /* hover時變色 */
    animation: colorChange 0.3s ease-in;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}


/* 按鈕字樣 */
#taiwan-travelbtn span {
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-yellow);
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
    transform: translateX(-7%);
}

/* hover按鈕字樣 */
#taiwan-travelbtn:hover span {
    /* 製造殘影效果 */
    position: absolute;
    z-index: 2;
    /*     display: none; */
    animation: btnout 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover前 */
#taiwan-travelbtn:before {
    display: flex;
    position: absolute;
    z-index: 1;
    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-blue);
    padding-left: 35rem;
    margin-left: 0rem;
    margin-right: 1rem;
    opacity: 0;
    animation: btnout 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 偽元素hover後 */
#taiwan-travelbtn:hover:before {
    display: flex;
    position: absolute;
    z-index: 2;
    content: "OK! Here We GO!";
    font-size: 3rem;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.155em;
    color: var(--main-blue);
    padding-left: 35rem;
    margin-left: 0rem;
    margin-right: 1rem;
    opacity: 1;
    animation: btnin 0.3s;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* arrow */
#taiwan-travelbtn-img {
    /*background-color: blue;*/
    position: absolute;
    /* 初始位置 */
    left: 70%;
    z-index: 2;
    animation: imgback 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* hover arrow */
#taiwan-travelbtn:hover img {
    position: absolute;
    /* 初始位置 */
    left: 75%;
    z-index: 2;
    filter: invert(52%) sepia(100%) saturate(288%) hue-rotate(143deg) brightness(107%) contrast(85%);
    animation: imggo 0.3s forwards;
    /* 慢速開始 */
    transition-timing-function: ease-in;
}

/* 箭頭移動 */
@keyframes imggo {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(10rem, 0);

    }
}

@keyframes imgback {
    0% {
        transform: translate(10rem, 0);
    }

    100% {
        transform: translate(0, 0);

    }
}

/* 淡入淡出 */
@keyframes btnin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes btnout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 變色動畫 */
@keyframes colorChange {
    0% {
        background-color: #47BFD9;
        /* 顏色A */
    }

    100% {
        background-color:var(--main-yellow);
        /* 顏色B */
    }
}

@keyframes colorChangeback {
    0% {
        background-color: var(--main-yellow);
        /* 顏色A */
    }

    100% {
        background-color: #47BFD9;
        /* 顏色B */
    }
}


