@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /* 不累加邊框與內距 */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "Noto Sans TC", “黑體-繁", "Heiti TC", “微軟正黑體", "Microsoft JhengHei”, sans-serif;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 共用 */
img {
    display: block;
    /*     width: 100%; */
}

/* 頁尾區 */

#footerBar {
    display: flex;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    align-items: center;
    /* 內距 */
    padding-left: 160px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000537;
}

#footerBar ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
}


.logo {
    width: 380px;
}

.footerMenu {
    display: flex;
    list-style: none;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    margin-left: 80px;
    margin-right: 80px;
}

.footerMenu a {
    display: block;
    position: relative;
    font-family: Arial;
    font-size: 19px;
    font-weight: 150;
/*     width: 160px; */
    /* 不換行 */
    white-space: nowrap;
    /* 拿掉底線 */
    text-decoration: none;
    /* 修改瀏覽器預設的字色 */
    color: rgb(255, 255, 255);
    /* 每一個按鈕的間距 */
    margin-left: 65px;
    margin-right: 65px;
    /* 上下邊界距離 */
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

}