@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/* 重置默認邊距和填充 */
html,
body,
header,
main,
nav,
footer {
    margin: 0;
    padding: 0;
    /* 這將使邊框和填充包含在元素的寬度和高度內 */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* 確保 body 充滿整個 viewport */
    min-height: 100vh;
}

main {
    /* 允許 main 元素在需要時自動填充剩餘空間 */
    flex-grow: 1;
}

ul {
    list-style-type: none;
}

a {
    /* margin-bottom: 1em; */
    display: block;
    color: #000;
    text-decoration: none;
}

/* 頁首區 */

#top {
    display: flex;
    align-items: flex-start;
    /* 主軸方向齊頭 */
    justify-content: space-between;
    /* 內距 */
    padding: 0px;
    /* 外距 */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* 選單排版 */
#top ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
    /* 副軸對齊頂部 */
    align-items: flex-start;
}

.logo {
    /*padding-left: ;*/
    padding-bottom: 58px;
    z-index: 1000;
}

.btn {
    width: 400px;
    display: flex;
    z-index: 990;
}

.floatnav {
    width: 300px;
    /* 上方邊界 */
    margin-top: 25px;
    /* 去掉點 */
    z-index: 990;
}


/* 選單動畫區 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Cutive Mono", serif;
    font-size: 1.2em;
    line-height: 1.6;
    /* 網頁背景色 */
    background: #eaeaea;
    overflow-x: hidden;
}


.menu {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    /* 畫面位置 */
    right: 60px;
    top: 60px;
    z-index: 98;
    /* 圓圈大小 但會影響位置 */
    width: 80px;
    height: 80px;
    /* 按鈕底色 */
    background: #ffffff;
    border-radius: 100%;
    transition: .5s ease-in-out;
    /* 過場動畫顏色 */
    box-shadow: 0 0 0 0 #ffffff, 0 0 0 0 #ffffff;
    /* 改變滑鼠游標形狀 */
    cursor: pointer;
}

.hamburger {
    position: absolute;
    /* 畫面位置 */
    top: 40px;
    right: 25px;
    /* 按鈕大小 */
    width: 30px;
    /* 粗細 */
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked+.menu {
    /* 點擊後的背景色 */
    box-shadow: 0 0 0 100vw hsl(0, 0%, 100%), 0 0 0 100vh #ffffff;
    /* 點擊後的圓角 */
    border-radius: 100%;
}

input:checked+.menu .hamburger {
    transform: rotate(45deg);
}

input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked+.menu+ul {
    opacity: 1;
}

/* menu-container */

.menu-container {
    display: flex;
    align-items: flex-start;
}

/* 選單的設定 */
label ul.menu1 {
    position: absolute;
    /*height: 100vh; /* 設置選單高度為視口高度的 100% */
    /*width: 100vw;  /* 設置選單寬度為視口寬度的 100% */
    ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 1920px;
    list-style-type: none;
    background-color: #dcdcdc;
    z-index: 100;
    opacity: 0;
    transition: .25s 0s ease-in-out;
    background-image: url(./images/BG.jpg);
    /* 不重複背景圖片 */
    background-repeat: no-repeat;
    /* 讓背景圖片覆蓋整個選單區域，保持圖片的寬高比 */
    background-size: cover;
    /* 將背景圖片置於選單元素的中心 */
    background-position: center;
}

label ul li {
    /* 每個ul的間距 */
    width: 270px;
    height: 600px;
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding: 100px 20px;
    text-align: center;
    justify-content: center;
}

label ul li a {
    color: #ffffff;
    font-size: 30px;
    display: block;
    font-family: DM Serif Display;
}




.btn-go {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 20px;
    /* 間距 */
    margin-right: 50px;
}

.btn-contact {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 20px;
    /* 間距 */
    margin-left: 25px;
    margin-right: 25px;
    /* 底線 */
    box-shadow: 0 1.5px;
    /* 底線間距 */
    padding-bottom: 0.5px;
}


/* 頁尾區 */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000537;
    width: 100vw;

    /* 右側間距 */
    /*     padding-right: 5%; */
    /* 改成百分比 */

}



.footerLogo a {
    padding-top: 150px;

    padding-bottom: 150px;
    margin-left: 160px;
    /* 改成百分比 */
    /*  margin-right: 0px; /* 改成百分比 */
}

.bottom {

    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;

    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;

    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
    /* 改成百分比 */
    margin-right: 160px;
}



.bottom li {
    /* 按鈕間距 */
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
}

.bottom li a {
    text-align: center;
    white-space: nowrap;
    /* 添加此行以防止文字换行 */
    font-family: 'Arial';
    font-style: normal;
    font-weight: 200;
    font-size: 19.5px;
    /* light white */
    color: #FFFCEB;
    line-height: 22px;
    letter-spacing: 0.065em;
}


/* 媒體查詢，適應中等螢幕裝置 */
/* @media screen and (max-width: 1024px) {
    .bottom {
        margin-left: 5%;
        margin-right: 5%;
    }
} */

/* 媒體查詢，適應小螢幕裝置 */
/* @media screen and (max-width: 768px) {
    .bottom {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .bottom li {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .footerLogo a {
        margin-left: 5%; /* 调整外边距 */
/*margin-right: 5%;
/* 调整外边距 */