@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/* 頁首區 */

#top {
    display: flex;
    align-items: flex-start;
    /* 主軸方向齊頭 */
    justify-content: flex-start;
    /* 內距 */
    padding: 0px;
    /* 外距 */
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* 選單排版 */
#top ul {
    display: flex;
    /* 主軸方向齊尾 */
    justify-content: flex-end;
    /* 副軸對齊頂部 */
    align-items: flex-start;
}

.logo {
    padding-bottom: 58px;
    z-index: 990;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Cutive Mono", serif;
    font-size: 1.2em;
    line-height: 1.6;
    /* 網頁背景色 */
    background: #eaeaea;
    overflow-x: hidden;
}


.menu {
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    /* 畫面位置 */
    right: 60px;
    top: 60px;
    z-index: 100;
    /* 圓圈大小 但會影響位置 */
    width: 80px;
    height: 80px;
    /* 按鈕底色 */
    background: #ffffff;
    border-radius: 100%;
    transition: .5s ease-in-out;
    /* 過場動畫顏色 */
    box-shadow: 0 0 0 0 #ffffff, 0 0 0 0 #ffffff;
    /* 改變滑鼠游標形狀 */
    cursor: pointer;
}

.hamburger {
    position: absolute;
    /* 畫面位置 */
    top: 40px;
    right: 25px;
    /* 按鈕大小 */
    width: 30px;
    /* 粗細 */
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked+.menu {
    /* 點擊後的背景色 */
    /*box-shadow: 0 0 0 100vw hsl(159, 47%, 61%), 0 0 0 100vh #ffffff;*/
    /* 點擊後的圓角 */
    border-radius: 100%;
}

input:checked+.menu .hamburger {
    transform: rotate(45deg);
}

input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked+.menu+ul {
    opacity: 1;
}

.btn {
    margin: 0px auto;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* 去掉點 */
    list-style-type: none;
    background-color: #dcdcdc;
    z-index: 200;
    padding: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0;
    transition: .25s 0s ease-in-out;
}


.menu1 a {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: DM Serif Display;
    /* 文字置中 */
    text-align: center;
    /* 每個ul的間距 */
    width: 270px;
    height: 600px;
    margin: 20px;
    border: 1px solid red;
    padding:10px 20px 20px 80 px;
}

a {
    /*margin-bottom: 1em;*/
    display: block;
    color: #000;
    text-decoration: none;
}